<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="weaver-app"
         name="Weaver"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="am.weaver.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="am.weaver.perspectives.DefaultPerspective"
            fixed="true"
            id="am.weaver.perspectives.Default"
            name="Default">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="am.weaver.views.TableListView"
            id="am.weaver.views.TableList"
            name="Table List"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="am.weaver.editors.TableEditor"
            default="false"
            id="am.weaver.editors.Table"
            name="Table Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="am.weaver.commands.OpenTableEditor"
            name="Open Editor">
      </command>
      <command
            id="am.weaver.commands.NewTableElement"
            name="New Table Element">
      </command>
      <command
            id="am.weaver.commands.DeleteTableElement"
            name="Delete Table Element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="am.weaver.commands.OpenTableEditorCommand"
            commandId="am.weaver.commands.OpenTableEditor">
      </handler>
      <handler
            class="am.weaver.commands.NewTableElementCommand"
            commandId="am.weaver.commands.NewTableElement">
      </handler>
      <handler
            class="am.weaver.commands.DeleteTableElementCommand"
            commandId="am.weaver.commands.DeleteTableElement">
      </handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="weaver-app"
            name="Weaver Product">
         <property
               name="appName"
               value="Weaver Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="am.weaver.commands.NewTableElement"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="am.weaver.commands.DeleteTableElement"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+D">
      </key>
   </extension>

</plugin>
